.sidebar{
    margin-top: 15px;
    margin-left: 10px;
}
.sidebar img{
    width: 50px;
    height: 30px;
    border-radius: 20px;

}
.sidebar_btn button {
background-color: transparent;
border-radius: 40px;
margin-bottom: 14px;
margin-left: 10px;
align-items: center;
display: flex;
box-shadow: 4px 4px 4px #ccc;
}

.sidebar_btn button span {
    font-size: 16px;
    margin-right: 15px;
    margin-left: 10px;
}
.sidebar_options {
    margin-top: 10px;
}
.sidebar_option{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-radius: 0px 20px 20px 0px;
}
.sidebar_option:hover{
background-color: lightgray;
cursor: pointer;
}
.sidebar_option span{
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color:rgb(78, 78, 78)
}
.progress_bar{
    padding: 0px 20px;
}
.progress_bar span{
    display: block;
    font-size: 13px;
    color: #333;
}
.modal_pop {
    top: 50%;
    background-color: #fff;
    width: 500px;
    margin: 0px auto;
    position: relative;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
}
.modalHeading {
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 40px;
}
input.post_submit {
    width: 100%;
    background-color: aquamarine;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
 .modalBody uploading{
border:#333
 }
